{{page-title "Project"}}


<div class="online-class">
    <div class="header">
        <h3 class="text-center">Online Status</h3>
    </div>
    </div>

      {{#each this.model as |Author|}}  

    <div class="block-1 card">
        <div class="img-block">
            <img src="https://media.freestocktextures.com/cache/38/af/38af355b1399c7a5c1558eb7f90d86bc.jpg" height="250px" width="100%">
        </div>
        <div class="text-block col-12 row">
            <div class="col-5">
                <h6>{{Author.name}}</h6>

                <p>{{Author.value}}</p>
            </div>
            <div class="col-4">
                <h4>{{Author.rate}}%</h4>
                <p>{{Author.loanDuration}} Months - € {{Author.amount}} </p>
                <p>{{Author.grade}} </p>
            </div>
            <div class="col-3 text-right">
                <p>{{Author.totalInvested}}</p>
                <p>{{Author.delay}}</p>
            </div>
        </div>

    </div>
      {{/each}}       


<div class="completed-class">
    <div class="header">
        <h3 class="text-center">Completed Status</h3>
    </div>
    </div>

{{#each this.model as |Author|}}  
<div class="form-row">
  <div class="form-group col-md-6">
        <div class="block-1 card">
            <div class="img-block">
            <img src="" height="250px" width="100%">
            </div>
            <div class="text-block col-12 row">
                <div class="col-5">
                    <h6>{{Author.name}}</h6>
                    <p>{{Author.value}}</p>
                </div>
                <div class="col-4">
                     <h4>{{Author.rate}}%</h4>
                <p>{{Author.loanDuration}} Months - € {{Author.amount}} </p>
                <p>{{Author.grade}} </p>
                </div>
                <div class="col-3 text-right">
                    <p>{{Author.totalInvested}}</p>
                <p>{{Author.delay}}</p>
                </div>
            </div>

        </div>
        </div>
    </div>
      {{/each}} 

{{outlet}} 